// resources/scss/_variables.scss

// Palette Colori
$dark-bg: #1a1919;
$text-light: #f1fffd;
$neon-pink: #fc86e1;
$neon-purple: #c26af4;
$neon-blue: #2186e1;

// Tipografia
$font-body: 'Archivo', sans-serif;
$font-display: 'Michroma', sans-serif;